body{
    background-image: url(/images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}
header{

    margin-top: 20px;
}
.container{
    max-width: 1080px;
    margin: 0 auto;
}
.header-logo{
    display: flex;
    background-image:url("../images/logo.svg");
    background-repeat:no-repeat;
    /* align-items: center; */
}
.logo-text{
    display:flex;
    flex-direction: column;
    /* margin-top: 5px; */
    /* padding-top: 10px; */
    justify-content: space-around;
    margin-left: 50px;
    font-style: bold;
    margin-top: 5px;
       
}
.first-word{
    font-size: 29px;
    line-height: 29px;
    color:#fff;
    /* padding-bottom: 10px; */
}
.second-word{
    font-size: 18px;
    line-height: 18px;
    color:#fff;
    
}
.header-text{
    /* width: 50%; */
    margin:0;
    padding: 0;
    text-transform: uppercase;
    padding-left: 10px;
}

header .container{
    display: flex;
    justify-content: space-between;
    
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}
.contacts-info{
    font-size: 18px;
    line-height: 18px;
    color:#fff;
}
.events{
    padding-top: 26px;
}
.events .container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.events-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.events-text{
width: 299px;
height: 55px;
background-color:
rgba(242, 101, 34, 1);
position: absolute;
top: 165px;
display: none;
}
.events-price{
    display: flex;
    justify-content: space-around;
    color:#fff;
    margin: 0;
}
.details{
    position: relative;
    font-size: 14px;
    align-self:center;
    padding: 0;
    margin: 0;;
}
.price{
    font-size: 20px;
    align-self: center;
    padding: 0;
    margin: 0;
}
.details::after{
    content:"";
    display: block;
   background-image: url('../images/Vector\ 1.png');
   width: 20px;
   height: 20px;
   background-repeat:no-repeat;
   position: absolute;
    left: 100px;
    top: 3px;
}
.events-sub{
  margin: 0;
color:#fff;
  padding-left: 16px;
  margin-bottom: 6px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  padding-top: 10px;
}

.main-title{
    text-align: center;
    color:#fff;
    margin-top: 20px;
    margin-top: 37px;
    padding: 0;
 font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.footer-text{
    text-align: center;
    color:#fff;
    font-size: 12px;
    line-height: 12px;
    font-style: regular;
    margin: 0;
    padding-top: 40px;
}
.header-logo:hover .header-text{
    color:rgba(242, 101, 34, 1);
}
.contacts:hover .contacts-info{
color:rgba(242, 101, 34, 1);
}

.events-info:hover .events-text{
    display: block;
}
.events-info:hover .main-title{
    color:rgba(242, 101, 34, 1);
}
.header-logo:hover{
    background-image:url("../images/logo-colour.svg")
}